server:
  port: 8080

spring:
  application:
    name: gateway
  profiles:
    active: dev
    # include: route
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true               # 开启服务发现路由（lb://service-name）
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://user              # user 服务注册名
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1           # 去掉 /api 前缀后转发给 user 服务

        - id: product-service
          uri: lb://product
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=1

        - id: order-service
          uri: lb://order
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=1


logging:
  level:
    root: INFO


# 可选：暴露 actuator 端点（用于 Sentinel 控制台）
# management:
#   endpoints:
#     web:
#       exposure:
#         include: '*'
#   endpoint:
#     health:
#       show-details: always


---
# ---------- 开发环境 ----------
spring:
  config:
    activate:
      on-profile: dev

  # SpringCloud-Nacos 配置
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      config:
        import-check:
          enabled: false
        namespace: ${spring.profiles.active:public}

---
# ---------- 生产环境 ----------
spring:
  config:
    activate:
      on-profile: prod

  # SpringCloud-Nacos 配置
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      config:
        import-check:
          enabled: false
        namespace: ${spring.profiles.active:public}
